.loginBox {
    height: 300px;
    background: var(--secondary-theme);
    border-radius: 30px;
    margin-top: 25px;
    padding: 30px;
}
.titleSignIn {
    margin: 0;
    font-size: 3rem;
    color: var(--primary-theme)
}

.cuteMessage {
    color: var(--secondary-theme)
}

.loginBox__form {
    height: 300px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

.loginBox__form p {
    margin: 0;
    color: var(--toggle-disabled-click)
}

.loginBox__form p a {
    color: var(--primary-theme)
}

.loginBox__errorMessage {
    margin: 0;
    color: var(--primary-theme)
}
