:root {
  --primary-theme: #0085FF;
  --secondary-theme: #FFF;
  --toggle-theme: #00000016;
  --toggle-disabled: #003f7d;
  --toggle-disabled-click: #0000006B
}

.content {
  text-align: center;
  background: var(--primary-theme);
  min-height: 100vh;
  padding-top: 30px;
}
  .content__header--title {
    color: var(--secondary-theme);
    font-size: 5rem;
    margin: 0;
  }

figcaption, label {
  display: none;
}
